/** START LAYOUTS ******************/
/*.pagbuilder-layout-full .pagebuilder-column{
	display: block;
}

.pagbuilder-layout-aside .pagebuilder-column {
	display: inline-block;
	vertical-align: top;
}

.pagbuilder-layout-aside .pagebuilder-column.pagebuilder-column-1 {
	width: 75%;
}

.pagbuilder-layout-aside .pagebuilder-column.pagebuilder-column-2 {
	width: 25%;
}

.pagbuilder-layout-aside.empty-aside .pagebuilder-column {
	display: block;
}

.pagbuilder-layout-aside.empty-aside .pagebuilder-column.pagebuilder-column-1 {
	display: block;
	width: auto;
}
.pagbuilder-layout-aside.empty-aside .pagebuilder-column.pagebuilder-column-2 {
	display: none;
}

.pagbuilder-layout-thirds .pagebuilder-column {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
}

.pagbuilder-layout-fourths .pagebuilder-column {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}*/
/** BASIC ITEM STYLES **************************/
.pagebuilder-column img {
	max-width: 100% !important;
	height: auto;
}
.pagebuilder-column iframe {
	max-width: 100% !important;
}

.pagebuilder-column aside,
.pagebuilder-column article {
	display: block;
	margin: 0 10px 20px 10px;
}

#pagebuilder-tertiary-nav{
	margin: 0 1em;
	border-bottom: 4px solid #fff;
	/* PC adds/overrides */
	border: none;
}
#pagebuilder-tertiary-nav a {
	display: inline-block;
	padding: 8px 20px;
	border-right: 1px solid #ccc;
	/* PC adds/overrides */
	background: rgba( 255, 255, 255, 0.9 );
	border: none;
	margin-right: 1px;
	padding: 0.5em 2em;
}

#pagebuilder-tertiary-nav a:not(.selected) {
	/*background: #ddd; - PC */
	color: inherit;
	/* PC adds/overrides */
	opacity: 0.8;
}
#pagebuilder-tertiary-nav a.selected {
	/*background: #fff; - PC */
	font-weight: bold;
}

/** CSS HOOKS **********************************/

/* no-side-margin */
.pagebuilder-column aside.no-side-margin,
.pagebuilder-column article.no-side-margin {
	margin: 0 0 20px 0;
}

/* no-bottom-margin */
.pagebuilder-column aside.no-bottom-margin,
.pagebuilder-column article.no-bottom-margin {
	margin: 0 10px 0 10px;
}

/* no-margin */
.pagebuilder-column aside.no-margin,
.pagebuilder-column article.no-margin {
	margin: 0;
}

/* ## SMALL (max 693)  */
@media only screen and (max-width: 693px) {
	#pagebuilder-tertiary-nav {
		margin: 0;
	}
	.pagebuilder-row > div {
		width: 100% !important; /* Necessary in order to override inline styling */
	}
	.pagbuilder-layout-half > div > aside {
		margin: 0 0 1em 0;
	}
}